{% extends "base.html" %}
{% block content %}
<div class="home-container">
    <div class="home-panel">
        <h1>Welcome to Outfit Price Predictor</h1>
        <p>Discover the estimated price of your favorite outfits instantly!</p>

        <div class="home-buttons">
            <a href="/predict" class="button">Predict Price</a>
            <a href="/gallery" class="button">Gallery</a>
            <a href="shops"class="button">Nearby-Shops</a>
            <a href="/about" class="button">About Us</a>
            <a href="/contact" class="button">Contact</a>
        
</div>
{% endblock %}
